<!--Extends to the base template -->
{% extends "base.html" %}
<!--Tells which block we're injecting our code into -->
{% block content %}

<h2>I'm extending the base template </h2>
    <!-- Loops through items found by find()-->
    {% for task in tasks %}
        {{ task.task_name }}<br>
        {{ task.category_name }}<br>
        {{ task.task_description }}<br>
        {{ task.is_urgent }}<br>
        {{ task.due_date }}<br>
    {% endfor %}
    <!--Ends the base temp code extention -->
    {% endblock %}.